// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.main-card-ul{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .main-card{
        background-color: rgb(174, 228, 198);
        color: rgb(49, 49, 49);
        font-weight: bolder;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    
        &>*{
            padding-bottom: 20px;
        }
    }
}

.main-card-index{
    font-size: 3rem;
    color: white;
}

.btn-1{
    background-color: white;
    border: 2px solid rgb(196, 196, 196);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
    transition: all 250ms ease;
    &:hover{
        border: 5px solid rgb(67, 150, 191);
    }
}